@charset "UTF-8";
/* CSS Document */
body{

}

div{
	border:0px,0px,0px,0px;
}

h2{
	margin-top:1em;
	margin-bottom:1em;
}

h3{
	margin-top:1em;
	margin-bottom:1em;

}

.homeS1{
	background-image: url("Maypolemorrisdance.jpg");
	color:black;
	padding-bottom:100px;	
}

button{
	border:none;
	color:white;
	background-color:red;
	padding:15px 37px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size:16px;
	margin:4px 2px;
	cursor:pointer;
	border-radius:8px;
}

.buttonSection{
	padding-top:2em;
	display:flex;
	flex-direction:row;
	justify-content:center;
	
}

.homeS1{
	padding-top:2em;
}

.homeS2{

	background-color: black;
	color: white;



}

.homeS3{
	
	display: flex;
	flex-direction:row;
	/* flex-wrap:wrap; */
	justify-content:flex-start;
	align-items:flex-start;
	background-color: white;
	color:black;

	
}
.homeS4{
	display: flex;
	flex-direction:row;
	/* flex-wrap:wrap; */
	justify-content:flex-start;
	align-items:flex-start;
	background-color: black;
	color:white;

}
.homeS5{
	background-color: white;
	color:black;

}

.homeS6{
	background-color: white;
	color:black;

}

.homeS7{
	background-color: white;
	color:black;

}

.paragraph{
	
}

.section{
	width:60vw;
	padding-left:5vw;
	padding-right:5vw;
	padding-top:2em;
	padding-bottom:2em;
}

.S3Img{
	width:40vw;
	height:40vw;
	object-fit:cover;
}

.S4Img{
	width:40vw;
	height:40vw;
	object-fit:cover;
}

.eventListItem{
	padding-top:25px;
	padding-left:25px;
	line-height:12pt;
}

.vimeoVideo{
	width:640px;
	height:360px;
}

@media screen and (orientation:portrait){
	.vimeoVideo{
		width:100%;
		height:auto;
	}
	
	.paragraph{

	}
	
	.section{
		padding-top:3em;
		padding-bottom:3em;
		width:100vw;
		padding-left:7vw;
		padding-right:7vw;
	}
	
	.S3Img{
		width:100vw;
		height:100vw;
	}
	
	.S4Img{
		width:100vw;
		height:100vw;
	}
	
	.homeS3{
		display: flex;
		flex-direction:column;
		/* flex-wrap:wrap; */
		justify-content:flex-start;
		align-items:flex-start;
		background-color: white;
		color:black;
	}
	
	.homeS4{
		display: flex;
		flex-direction:column;
		/* flex-wrap:wrap */
		justify-content:flex-start;
		align-items:flex-start;
		background-color: black;
		color:white;
	}
	

	
}

