@charset "UTF-8";
/* CSS Document */
.dances-bg{
	display:flex;
	flex-direction:column;
	padding:2em;
	min-height:1000px;
	background-color:white;
}

.dance{
	color:black;
	background-color:white;
	margin:1em;
	outline-style:double;
	outline-color:black;
	padding:2em;
	max-width:900px;
	
}
