@charset "UTF-8";
/* CSS Document */



h1{
	font-size:42pt;
	font-family: Garamond, Georgia, serif;
	
}

h2{
	font-size:24pt;
	font-family: Garamond, Georgia, serif;
	
}

h3{
	font-size:16pt;
	font-family: Garamond, Georgia, serif;
	
}

p{
	font-size:14pt;
	max-width:800px;
	font-family: Verdana, Arial, Helvatica, sans-serif
}

	

body{
	margin:0px;
}


img{
	max-width:100%;
	height:auto;
}




.banner{
	background-color: black;
	color: white;
	padding: 1em;
	display: flex;
	flex-direction: Row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.topMenu{
	background-color:black;
	color:white;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-around;
}

.topMenuItem{
	color:white;
	background-color:black;
	font:Verdana, Arial, Helvatica, sans-serif;
	font-size:16pt;
}

/*.topMenuItem:hover{
	background-color:white;
}
*/
.bottomMenuItem{
	color:white;
}

.footer{
	padding-top: 1em;
	padding-bottom:100px;
	padding-left:1em;
	padding-right:1em;
	background-color: black;
	color: white;
	display: flex;
	flex-direction:row;
	flex-wrap: wrap-reverse;
	justify-content: space-between;


}
.linksColumn{
	display: flex;
	flex-direction:column;
	gap:20px;
	justify-content: flex-start;
}

.footer-text{
	width:400px;
}

@media screen and (orientation:portrait){
	
	h1{
	font-size:32pt;
	font-family: Garamond, Georgia, serif;
	
	}

	h2{
	font-size:16pt;
	font-family: Garamond, Georgia, serif;
	
	}

	h3{
	font-size:14pt;
	font-family: Verdana, Arial, Helvatica, sans-serif
	}

	p{
	font-size:12pt;
	font-family: Verdana, Arial, Helvatica, sans-serif
	}
	

	
	.banner{
		background-color: black;
		color: white;
		padding: 1em;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		flex-wrap: wrap;
	}

	.topMenu{
		height:30em;
		display:flex;
		flex-direction:column;
		align-content: center;
		justify-content:flex;
		padding-left:2em;
	}
	
	.topMenuItem{

	font:Verdana, Arial, Helvatica, sans-serif;
	font-size:16pt;
	color:white;
	}

	.topMenuItem:hover{
		color:black;
		background-color:white;
	}	
	
	

	.footer{
		padding-top: 1em;
		padding-bottom:10em;
		padding-left:1em;
		padding-right:1em;
		background-color: black;
		color: white;
		display: flex;
		flex-direction:column;
		flex-wrap: wrap-reverse;
		justify-content: space-between;
		
	}
	
	.footer-text{
		font-size:14px;
		width:auto;
	}
	
	.linksColumn{
	padding-top:50px;
	padding-bottom:50px;
	}
	
	
	
}

